@model Languages.BL.Domain.Language

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<div class="card">
    <div class="card-body">
        <h2>Language Details</h2>

        <dl class="row ">
            <dt class="col-3">Name</dt>
            <dd class="col-9">@Model.Name</dd>

            <dt class="col-3">Type</dt>
            <dd class="col-9">@Model.Type.ToString()</dd>

            <dt class="col-3">Release Date</dt>
            <dd class="col-9">@Model.ReleaseDate.ToString("dd/MM/yyyy")</dd>

            <dt class="col-3">Version</dt>
            <dd class="col-9">@Model.Version</dd>
        </dl>
        @if (Model.Programs.Count != 0)
        {
            <h3>Programs</h3>
            <table class="table table-striped mt-4 order-top border">
                <tr class="bg-secondary text-light">
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                @foreach (var lang in Model.Programs)
                {
                    <tr class="border-top border-bottom">
                        <td>@lang.Name</td>
                        <td>@lang.Description</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>